#intro {
    background: url("images/background7.jpg");
    background-size: 100%;
    height: 60rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    padding: 2%;
}

.brand-logo {
    font-size: 60%;
    font-family: 'Parisienne', cursive;
}

.scroll {
    display: block;
    margin: 1px auto;
}

.intro-content {
    margin-top: 10%;
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
    text-shadow: 0 0 20px black;
    animation: fadeInUp 5s;
    line-height: 15%;

}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

#bio {
    background: url("images/background-beach2.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.bio-image {
    border-radius: 50%;
}

.bio-content {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-indent: 10%;
    padding: 2%;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px black;
    background: rgba(0, 0, 0, 0.3);
}

.skill-header {
    margin-top: 3rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px black;
    text-align: center;
    font-weight: 600;
    font-family: 'Playfair Display', serif;

}

.skills {
    /* background: rgba(82, 104, 148, 0.3); */
    width: 75%;
    margin-left: 7rem;
}

.skills img {
    padding-left: 2%;
}

.skills img:hover {
    opacity: .5;
    filter: alpha(opacity=100);
}

.projects-heading {
    text-align: center;
    color: white;
    text-shadow: 0 0 20px black;
    font-family: 'Playfair Display', serif;

}

.projects {
    background: url("images/background9.jpg");
    background-attachment: fixed;
    background-size: 110%;
    background-repeat: no-repeat;
}


.icon {
    padding-left: 1rem;
    padding-right: 2rem;
}

.page-footer {
    background: rgba(89, 98, 116, 0.3);
    padding: 2%;
    text-align:center
}

.page-footer a {
    color: rgb(148, 206, 240);
    text-decoration: underline;
}

.contactInfo {
    font-size: 1.5rem;
}


@media only screen and (min-width : 824px) and (max-width : 1024px) {
    #intro {
        background: url("images/background7.jpg");
        background-repeat: no-repeat;
        background-size: 180%;
        background-attachment: fixed;
    }

    .bio-image{
        display: block;
        margin: 1px auto;
    }

    .bio-content {
        margin-left: 3rem;
    }

    .projects {
        background: url("images/background9.jpg");
        background-attachment: fixed;
        background-size: 410%;
        background-repeat: no-repeat;
    }

}

@media only screen and (min-width : 625px) and (max-width : 824px) {
    #intro {
        background: url("images/background7.jpg");
        background-repeat: no-repeat;
        background-size: 200%;
        background-attachment: fixed;
    }



    .bio-image{
        display: block;
        margin: 1px auto;
    }

    .bio-content {
        margin-left: 3rem;
    }

    .projects {
        background: url("images/background9.jpg");
        background-attachment: fixed;
        background-size: 310%;
        background-repeat: no-repeat;
    }

}

@media only screen and (min-width : 375px) and (max-width : 625px) {
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    .brand-logo {
        font-size: 1rem;
    }
    
    #intro {
        background: url("images/background7.jpg");
        background-repeat: no-repeat;
        background-size: 300%;
        background-attachment: fixed;
        
    }

    #bio {
        background: white;
    }

    .bio-content {
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: left;
        padding: 2%;
        font-family: 'Playfair Display', serif;
        color: gray;
        text-shadow: none;
        background: none;
    }

    .skill-header {
        color: gray;
        text-shadow: none;
    }

    .bio-image{
        display: block;
        margin: 1px auto;
    }

    .bio-content {
        text-indent: 0;
    }

    .projects {
        background: url("images/background9.jpg");
        background-attachment: fixed;
        background-size: 410%;
        background-repeat: no-repeat;
    }

    .skills {
        margin-left: 4.5rem;
    }

    .page-footer {
        padding: 2%;
    }

    .footer h5 {
        font-size: 1rem;
    }

    .icon {
        padding-left: 0%;
        padding-right: 3rem;
    }

    .projects {
        background: url("images/background-beach-small.jpg");
        width: 100%;
    }
}