
#intro {
    background: url("images/background7.jpg");
    background-color:#555;
    background-size: 100%;
    height: 100%;
    background-attachment: fixed;
}

.container {
    padding: 2%;
}

.brand-logo {
    font-size: 60%;
    font-family: 'Parisienne', cursive;
}

.scroll {
    display: block;
    margin: 1px auto;
}

.intro-content {
    margin-top: 10%;
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
    text-shadow: 0 0 20px black;
    animation: fadein 5s;
    line-height: 15%;

}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#bio {
    height: 30rem auto;
}

.bio-image {
    border-radius: 50%;
}

.bio-content {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-indent: 10%;
    padding: 2%;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.skill-header {
    margin-top: 3rem;
    text-align: center;
    color: white;

}

.skills {
    background: rgba(82, 104, 148, 0.3);
    width: 75%;
    margin-left: 7rem;
}

.skills img {
    padding-left: 2%;
}

.projects-heading {
    text-align: center;
    color: white;
    text-shadow: 0 0 20px black;

}

.projects {
    background: url("images/background9.jpg"); 
    background-attachment: fixed;
    background-size: 110%;
}


.icon {
    padding-left: 1rem;
    padding-right: 2rem;
}

.page-footer {
    background: rgba(89, 98, 116, 0.3);
    padding: 2%;
}

/* .projects {
    text-align: center;
    color: #555;
    font-family: 'Playfair Display', serif;
}
 #project {
    background: rgba(219, 122, 122, 0.589);
    margin-top: 15rem;
    height: 50rem;
 }

 .carousel .carousel-item {
    width:20%;
    height: 180%;
} */

/* footer {
    padding: 10px;
    background: rgba(97, 92, 87, 0.3);
    color: rgb(37, 34, 34);
    text-align: center;
    font-family: 'Playfair Display', serif;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    
} */